
body {
    text-align: center;
    font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
    font-size: 30px;
}

#container {
    display: grid;
    border: 0.5px solid grey;
    width: 800px;
    height: 700px;
    margin: auto;
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
}

.grid {
    border: 1px solid grey;
}

#selectGrid {
    margin: 15% auto;
}

.select {
    font-size: 30px;
}

#errorMessage {
    color: red;
}

#colors {
    position: fixed;
    top: 60px;
    margin: auto;
    left: 0;
    right: 0;
}

button.color {
    font-size: 20px;
}

#red {
    background-color: red;
    color: white;
}

#blue {
    background-color: blue;
    color: white;
}

#black {
    background-color: black;
    color: white;
}

#yellow {
    background-color: yellow;
    color: black;
}

#newReset {
    position: fixed;
    bottom: 30px;
    margin: auto;
    left: 0;
    right: 0;
}

#newGrid {
    font-size: 20px;
}

#reset {
    font-size: 20px;
}